In [39]:
from isoweek import Week
def preWeek(inputYearWeek, GapWeek):
    currYear = int(str(inputYearWeek)[0:4])
    currWeek = int(str(inputYearWeek)[4:])
    
    if (currWeek > int(GapWeek)):
        answer =  str(int(inputYearWeek) - int(GapWeek))

    else :
        while (currWeek <= int(GapWeek)):
            currYear = currYear - 1
            currWeek = currWeek + int(Week.last_week_of_year(currYear).week)
        currWeek = currWeek - int(GapWeek)

        if (currWeek < 10) :
            answer = str(currYear) + "0" + str(currWeek)
        else :
            answer = str(currYear) + str(currWeek)

    return answer

In [40]:
preWeek("201952", "42")

'201910'

In [30]:
from isoweek import Week
def preWeek(inputWeek,GapWeek):
    currYear = int(str(inputWeek)[0:4])
    currWeek = int(str(inputWeek)[4:])
    
    if(currWeek > int(GapWeek)):
        answer = str(int(currWeek) - int(GapWeek))
    else:
        while (currWeek <= int(GapWeek)):
            currYear = currYear -1
            currWeek = currWeek + int(Week.last_week_of_year(currYear).week)
        currWeek = currWeek - int(GapWeek)
    
        if(currWeek <10):
            answer = str(currYear)+"0"+str(currWeek)
        else:
            answer = str(currYear)+str(currWeek)
        
    return answer

In [33]:
preWeek("201710","10")

'201652'

In [13]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [31]:
engine_maria = create_engine("mysql+pymysql://kopo:kopo@13.209.112.251:3306/kopo")

In [32]:
selloutData = pd.read_sql_query("SELECT * FROM kopo_product_volume", engine_maria)

In [33]:
selloutData.head()

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [34]:
from sqlalchemy import create_engine

In [35]:
engine_post = create_engine("postgresql://haiteam:haiteam@13.209.112.251:5432/postgres")

In [36]:
resultname="quiz_김경현"
selloutData.to_sql(resultname, engine_post, if_exists="replace", index=False)