In [2]:
a=123
b="123"

In [3]:
type(a)

int

In [5]:
type(b)

str

### 1. 문자열 더하기

In [7]:
head = "Fintech"
tail = "Students"
fullstring = head + " " + tail
print(fullstring)

Fintech Students

### 2. 문자열 곱하기

In [8]:
star = "*"
print(star * 10)

**********

### 3. 문자열 인덱싱 (0부터 시작)

In [23]:
YEARLEN = 4
yearweek = "201801"
print(yearweek[0]) # 첫번째 문자열
print(yearweek[:YEARLEN])
print(yearweek[0:4]) #4번째 문자열 까지
print(yearweek[4:]) #5번째 문자열 부터

2
2018
2018
01

### 4. 문자열 개수세기

In [24]:
yearweek ="2017W03"
print(yearweek.count('W'))

1

### 5. 문자열 위치확인

In [27]:
print(yearweek.index('W'))
delimeter=yearweek.index('W')
yearweek_new = yearweek[:delimeter] + yearweek[delimeter+1:]
print([yearweek_new])

4
['201703']

### 6. split함수

In [41]:
splitVar = yearweek.split("W")
print(splitVar)
type(splitVar)

['2017', '03']

list

### 7. 자료형 변환

In [45]:
numberValue = 1234
cvStrValue =str(numberValue)
print(type(numberValue))
print(type(cvStrValue))

<class 'int'>
<class 'str'>

### 실습1

In [101]:
full = "SEC 20180212 250"
delimeter = full.index(' ')
stock_name = full[:delimeter]
date = full[delimeter+1:12]
value = full[13:]
print(stock_name)
print(date)
print(value)

SEC
20180212
250

### 실습2

In [112]:
full = "Sec 2018W28 250"
delimeter = full.index('W') # = 8
stock_name = full[:3]
date = full[4:delimeter] + full[delimeter+1:11]
value = full[12:]
print(stock_name.upper(), date, value)

SEC 201828 250

### 실습2-2

In [120]:
fullRp = full.replace('W', '').upper()
stockLen = 3
dateLen = 5
valueLen = 3
stock_name = fullRp[:stockLen]
date = fullRp[stockLen+1:stockLen+1+dateLen+1]
value = fullRp[stockLen+1+dateLen+1+1:]
print(stock_name, date, value)

SEC 201828 250

### 8. 리스트 연산

In [151]:
stockName = ["SEC"]
priceList = [120,130]
dateList = [201712,201713]
print(stockName, priceList, dateList)
secinfo = stockName + priceList + [dateList]
print(secinfo)

['SEC'] [120, 130] [201712, 201713]
['SEC', 120, 130, [201712, 201713]]

### 9. 리스트 인덱싱

In [150]:
secinfo

['SEC', 120, 130, 201712, 201713]

In [153]:
print(secinfo[1])
print(secinfo[3])
print(secinfo[3][0])
print(secinfo[0:3])

120
[201712, 201713]
201712
['SEC', 120, 130]

### 10. 리스트 값 업데이트

In [185]:
updateList = [120,130,140,150]
print(updateList)
updateList[2] = 180
print(updateList)
del updateList[3]
print(updateList)
updateList[0:2] = []
print(updateList)

[120, 130, 140, 150]
[120, 130, 180, 150]
[120, 130, 180]
[180]

### 11. 리스트 관련 주요함수

In [2]:
functionList = [120,130,140,150]
#추가하기
functionList.append(100)
print(functionList)
functionList.insert(3,99)
print(functionList)
functionList.extend([11,120])
print(functionList)
#정렬하기
functionList.sort(reverse = False)
print(functionList)
functionList.sort(reverse = True)
print(functionList)
#인덱스 가져오기
print(functionList.index(150))
#자주사용하는 함수
print(len(functionList))
print(min(functionList))
print(max(functionList))
print(sum(functionList))
print(functionList.count(120))
functionList.sort(reverse = False)
print(functionList.pop())

[120, 130, 140, 150, 100]
[120, 130, 140, 99, 150, 100]
[120, 130, 140, 99, 150, 100, 11, 120]
[11, 99, 100, 120, 120, 130, 140, 150]
[150, 140, 130, 120, 120, 100, 99, 11]
0
8
11
150
870
2
150

### 실습

In [215]:
practice = [120,150,300,500,1000,100,2000]
practice.remove(max(practice))
practice.remove(min(practice))
print(practice)
average = sum(practice) / len(practice)
print(average)

[120, 150, 300, 500, 1000]
414.0

### 12. 딕셔너리

In [229]:
dic = {"name" : "sec", "id" : "300000", "address" : "suwon"}
print(dic)
print(dic["name"])
#추가 변경 삭제
dic["name"] = "sec2"
print(dic)
dic["stock"] = "yes"
print(dic)
del dic["id"]
print(dic)

{'name': 'sec', 'id': '300000', 'address': 'suwon'}
sec
{'name': 'sec2', 'id': '300000', 'address': 'suwon'}
{'name': 'sec2', 'id': '300000', 'address': 'suwon', 'stock': 'yes'}
{'name': 'sec2', 'address': 'suwon', 'stock': 'yes'}