### 문자열 더하기

In [2]:
one = "banan"
two = "juice"
full = one + " " +two
full

'banan juice'

### 문자열 곱하기

In [5]:
star = "oh!"
star * 10

'oh!oh!oh!oh!oh!oh!oh!oh!oh!oh!'

### 문자열 인덱싱

In [13]:
yearweek = "201903"
print(yearweek[0:4])
print(yearweek[4:])

2019
03

### 문자열 개수 세기

In [48]:
number = "3284326W4836856"
number.count("3")

3

### 문자열 위치확인

In [49]:
delimeter = number.index("W")
number_new = number[:delimeter] + number[delimeter+1:]
print(number_new)

32843264836856

### split함수

In [50]:
splitNum = number.split("3")
print(splitNum)

['', '284', '26W48', '6856']

### 자료형 변환

In [73]:
number_2 = 1234
print(type(str(number_2)))
number_3 = "123"
print(type(int(number_3)))

<class 'str'>
<class 'int'>

### 실습

In [82]:
full_2 = "Sec 201828 250"
delimeter_2 = full_2.index(" ")
delimeter_3 = full_2.index(" ", delimeter_2+1, )
print(delimeter_2, delimeter_3)
stock_name = full_2[0:delimeter_2]
date = full_2[delimeter_2+1:delimeter_3]
value = full_2[delimeter_3+1:]
print(stock_name, date, value)

3 10
Sec 201828 250
201828

### 실습

In [157]:
full_3 = "Sec 2018W28 250"
delimeter_4 = full_3.index("W")
stock_name_2 = full_3[:3]
date_2 = full_3[4:delimeter_4] + full_3[delimeter_4+1:11]
value_2 = full_3[12:]
print(stock_name_2, date_2, value_2)

Sec 201828 250

### 리스트

In [158]:
year=[2017,2018]
month = [1,2,3]
fruit = ["banan","grape"]
info = year + month + [fruit]
print(info)

[2017, 2018, 1, 2, 3, ['banan', 'grape']]

### 리스트 인덱싱

In [159]:
print(info[5][1])
print(info[2])

grape
1

### 리스트 값 업데이트

In [160]:
info[1] = 2019
print(info)
info[0:2] = []
print(info)

[2017, 2019, 1, 2, 3, ['banan', 'grape']]
[1, 2, 3, ['banan', 'grape']]

### 리스트 관련 주요함수

In [189]:
aaa = [123,234, 2432,45654,765, 777]
aaa.sort(reverse = False)
print(aaa)

[123, 234, 765, 777, 2432, 45654]

In [190]:
aaa.append(1)
aaa

[123, 234, 765, 777, 2432, 45654, 1]

In [191]:
aaa.extend([2,4,3543])
aaa

[123, 234, 765, 777, 2432, 45654, 1, 2, 4, 3543]

In [192]:
aaa.insert(0,777)
aaa

[777, 123, 234, 765, 777, 2432, 45654, 1, 2, 4, 3543]

In [193]:
print(aaa.index(123))

1

In [194]:
len(aaa)

11

In [195]:
max(aaa)

45654

In [196]:
min(aaa)

1

In [197]:
sum(aaa)

54312

In [200]:
print(aaa.count(777))

2

In [201]:
print(aaa.pop())

3543

### 실습

In [242]:
practice = [3,54,36,1,465,2,542,454,435,65,325,473,456,4745,7658,35]
practice.remove(max(practice))
practice.remove(min(practice))
average = sum(practice) / len(practice)
average

577.8571428571429

### 딕셔너리

In [252]:
dic = {"fruit": "banana", "amount":"7", "town":"seoul"}
print(dic["fruit"])
dic["fruit"] = "grape"
print(dic["fruit"])
dic["taste"] = "good"
print(dic)
del dic["town"]
print(dic)

banana
grape
{'fruit': 'grape', 'amount': '7', 'town': 'seoul', 'taste': 'good'}
{'fruit': 'grape', 'amount': '7', 'taste': 'good'}

### 자료 불러오기

In [253]:
import pandas as pd

In [254]:
a = pd.read_csv("../dataset/kopo_region_mst_hangul.csv", encoding ="ms949")

In [255]:
a.head()

  REGIONID REGIONNAME
0      A00       아프리카
1      A01         미국
2      A02         한국
3      A03         독일
4      A04        브라질