### 1. 파일데이터 불러오기

In [13]:
import pandas as pd

In [22]:
a = pd.read_csv("../dataset/kopo_region_mst_hangul.csv", encoding='ms949').head()

In [24]:
a

  REGIONID REGIONNAME
0      A00       아프리카
1      A01         미국
2      A02         한국
3      A03         독일
4      A04        브라질